@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  --primary-color: #FF6700;
  --secondary-color: #267A7A;
  --text-color: #ffffff;
  --black: #101215;
  --white: #fff;
  --background-color:#101215;
}