@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  /*! palette */
  --primary-color: #EA6D18;
  --secondary-color: #267A7A;
  --tertiary-color: #D94E4E;
  --quaternary-color: #4B4BEB;

  /*! base */
  --text-color: #292929;
  --bg-black: #101215;
  --bg-white: var(--white);
  --bg-gray: var(--light-gray);
  --bg-status: #ea6d1814;
  --bg-scroll: #d3d3d3;
  --white: #ffffff;
  --light-gray: #f3f3f3;
  --dark-gray: #555;
  --primary-color-hover: #ff6600;
  --light-shadow: #0000008c;
  --dark-shadow: #000000b4;
  --btn: var(--primary-color);
  --btn-hover: var(--primary-color-hover);
  --projects: var(--primary-color);
  --publications: var(--primary-color);
  --hero-section: var(--primary-color);
  --news: var(--primary-color);
  --members: var(--primary-color);
  --publications: var(--primary-color);
  --footer: var(--primary-color);
  --status: var(--primary-color);

  /*! size */
  --pn-main: 9em;
  --border: 5px;

  /*! duration*/
  --effect: 0.5s;
  --effect-image: 0.3s;
  --effect-btn: 0.2s;

  /*! others*/
  --border-rd: 10px;
  --box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062);
}