@import './base.css';


* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--white);
    scrollbar-width: thin;
    color: var(--black)
}

h1 {
    font-size: 50px;
    color: var(--white);
}

h2 {
    font-size: 35px;
    margin-bottom: 8px;
    font-weight: 600;
}
h3 {
    font-size: 25px;
    font-weight: 500;
}
h4 {
    font-size: 20px;
}
p {
    font-size: 17px;
    font-weight: 400;
}

section {
    margin: 80px 0;
}

main {
    padding: 0 145px;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
}
/* 
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
} */