@import './base.css';


* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

body {
    scrollbar-width: thin;
}

h3, h4, h5, p {
    color: var(--text-color);
}

nav img, footer img {
    border-radius: 0;
}

h1 {
    font-size: 3.125rem;
}

h2 {
    font-size: 2.188rem;
    margin: 40px 0;
    font-weight: 700;
}

h3 {
    /* font-size: 1.6em; */
    font-size: 1.563rem;
    font-weight: 600;
}

h4 {
    font-size: 1.25rem;
}

p {
    font-size: 1.063rem;
    font-weight: 400;
    line-height: 1.5em;
}


.status span {
    margin-right: 10px;
    padding: 5px;
    border: 2px solid;
    background-color: var(--bg-status);
    border-radius: 5px;
    font-weight: 500;
    align-items: center;
    text-align: center;
    font-size: 0.8em;
    color: var(--status);
}

.status {
    display: flex;
}

section, img, .card, .wrapper {
    border-radius: var(--border-rd);
}
.card {
    box-shadow: var(--box-shadow);
}
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #d3d3d3;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}

/* @media only screen and (max-width: 600px) {}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {} */